/* Fondo general con gradiente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    background: #d4cac4;
    overflow-x: hidden;
}

.form-container {
    height: max-min(100vh, 100%);
    width: max-min(100vw, 100%);

    transition: 1s ease-in-out;

    height: fit-content;
    /*transform-style: preserve-3d;*/

    background: #d4cac4;
}


.glass-form {
    border-radius: 20px;
    box-sizing: border-box;
    
    margin: 5%;
    padding: 40px;

    width: 90vw;
    height: fit-content;
    min-height: 80vh;
    
    background: linear-gradient(#4d4c4b,#67615f,#676463);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;

    position: absolute;
    /*backface-visibility: hidden;*/

    transition: 1s ease-in-out;
}

.front{
    /*transform: rotateY(180deg);*/
    transform: translateX(-120%);
}

.title-form {
    text-align: center;

    margin-bottom: 24px;
    margin-left: 45%;

    color: #ffffff;
}
.title-form h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
}
.back .title-form{
    margin-left: -45%;
}

.form-group {

    width: 70%;

    transition: 0.3s ease;
}
.form-group:hover {
    transform: translateY(-4px);
}

.form-group label {
    font-size: 14px;

    color: #f1f1f1;
}

.form-group input {
    padding: 10px;
    width: 100%;

    border-radius: 10px;
    border: none;

    background: rgba(255, 255, 255, 0.2);
    color: #fff;

    font-size: 16px;
}

.form-group input::placeholder {
    color: #e0e0e0;
}

.form-group input:focus {
    background: rgba(255, 255, 255, 0.3);
}

.glass-form button {
    width: 100%;
    padding: 12px;

    margin-left: -10%;

    border-radius: 30px;
    border: none;

    background: rgba(255, 255, 255, 0.3);
    color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    font-weight: bold;
    font-size: 16px;

    cursor: pointer;
    transition:  0.5s linear;
}

.glass-form button:hover {
    background: rgba(255, 255, 255, 0.5);
    scale: 1.05;
}

.back .form-group {
    width: 20%;
    gap: 50px;

    margin-bottom: 5%;
    margin-left: 15%;
}

.back button{
    min-width: 10%;
    width: 30%;

    margin-left: 10%;
}

.group {
    display: grid;
    grid-template-columns: 
    repeat(
        auto-fit,
        minmax(200px, 1fr)
        );
        gap: 50px;
        
        margin-left: 50%;
    }
    .img{
        width: 35%;
        height: 80%;
        
        background-image: url('../../public/logoNegro.png');
        background-size: cover;
        background-position: center;
        opacity: 1;
        
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(31, 135, 128, 0.37);
        
        position: absolute;
        bottom: 10%;
        left: 5%;
    }

    .back .img{
        background-image: url('../../public/logoBlanco.png');
        left: 60%;
    }
    .title-form button{
        padding: 5px;
        
        width: fit-content;
        margin-left: 10px;
        font-size: 16px;
        
        color: rgb(53, 108, 196);
        
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 20px;
        
        transition: 0.8s ease;
    }
    .title-form button:hover {
        text-decoration: underline;
        color: #000000;
        background-color: rgba(255, 255, 255, 0.823);
        scale: 1;
    }
    
    
    @media (max-width: 1200px) {
        .front {
            width: 80%;
            padding: 20px;
            margin: 0;
            
            height: fit-content;
            min-height: 80vh;
        }
        
        .form-group {
            width: 100%;
        }

        .front button {
            width: 100%;
            margin-left: 0;
            padding: 10px;
        }
        .back button {
            margin-left: 25%;
            width: 50%;
        }
        .back .title-form button{
            width: 50%;
            margin-left: 0;
            padding: 10px;
        }   
        
        .title-form {
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 20px;
            text-align: center;
        }
        .back .title-form {
            margin-left: 5%;
        }

        .group {
            grid-template-columns: 1fr;
            gap: 20px;

            position: relative;
            left: -25%;
        }

        .back .form-group{
            margin-left: 15%;
            width: 60%;

            margin-bottom: 10%;
        }

        .form-container {
            padding: 20px;
        }


        .img {
            display: none;
        }
}    